* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
}
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* ... */

nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;
}
nav > * {
  margin-right: 1rem; 
}
nav a, nav a:visited {
  color: inherit;
}
nav a.active {
  font-weight: 900;
}

/* ... */

#exercise-container {
  background: purple;
  width: 100vw;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#exercise-container h1 {
  max-width: 80vw;
  text-align: center;
}